* {
    color:white;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:grey;
    margin:0;
   
}
/* header */
header {
    display:flex;
    justify-content:space-between;
    background-color:rgb(0, 51, 102);
    margin:0;
    
}


header h1 {
    font-weight: bold;
    font-size:36px;
    border-bottom:none;
}

header nav {
    width:40%
}

header nav ul {
    font-weight:bold;
    list-style: none;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;
}

header nav ul li  {
    font-size:25px;
    
   
    
}


/* hero */
.flex-hero {
    background-image: url("../images/hero-image.jpg");
    background-size:100% 100%;
    background-position:center;
    height:600px;
    width:100%;
    position:relative;
    display:flex;
    flex-direction:row-reverse;
    justify-content:space-between;
    
}

.hero-sub {
    font-size:25px;
    align-self:flex-end;
    
    
}


.Profile-img {
    background-image: url("../images/Profile Picture of me.jpg");
    background-position:left;
    flex-basis:30%;
    background-repeat:no-repeat;
    
}

/* Hero */

/* About Me Section */
.info {
    display:flex;
    flex:wrap;
    justify-content:space-between;
    
}


.info-head {
    font-size:25px;
    padding: 20px;
    border-right:solid rgb(0, 51, 102) 5px;
    margin:5%  7%;
    align-self:stretch;

}

.info-p {
    font-size:25px;
    padding:5% 0;
    

}

/* Work Section */

.Work {
    display:flex;
    justify-content:flex-start;
    flex-direction:row;
    margin-left:50px;
    padding:0px;
}

.work-head {
    font-size:25px;
    align-self:stretch;
    border-right:solid rgb(0, 51, 102) 5px;
    margin:0 5%;
    padding:20px; 
    
}

/* images for work */
.work-img-flex {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width: 60%;
    height:1200px;
    margin:0 2.1%;
    padding:0 20px;
}

.work-text {
    font-size:25px;
    font:bold;
    position:relative;
    bottom:80px;
    left:10px;
}

/* Run Buddy */

.run-buddy {
    flex:100%;
    align-self:center;
}

.run-buddy-img {
    width:100%;
    height:500px;
    object-fit:fill;
    border:solid rgb(0, 51, 102) 5px;
}



/* Horiseon */
.horiseon {
    flex:40%;
    padding:5px;
    margin:0 5px;
}

.horiseon-img {
    width: 100%;
    height:200px;
    object-fit:fill;
    border:solid rgb(0, 51, 102) 5px;
    
}

/* PL1 */

.pl1 {
    flex:40%;
    padding:5px;
    margin:0 5px
}

.pl1-img {
    width:100%;
    height:200px;
    object-fit:fill;
    border:solid rgb(0, 51, 102) 5px;
}



/* PL2 */

.pl2 {
    flex:40%;
    padding:5px;
    margin:0 5px;
}
.pl2-img {
    width:100%;
    height:200px;
    object-fit:fill;
    border:solid rgb(0, 51, 102) 5px;

}

/* PL3 */

.pl3 {
    flex:40%;
    padding:5px;
    margin:0 5px;
}
.pl3-img {
    width:100%;
    height:200px;
    object-fit:fill;
    border:solid rgb(0, 51, 102) 5px;

}





